<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Portfolio website for Noah Graff">
    <meta name="keywords" content="ntgg, Noah, games, rust, c++, game dev, game development, Noah Graff, GraffixGames, ngraff, @graffixgames">
    <meta name="author" content="Noah Graff">
    <title>ntgg.io{% if page.title %} | {{ page.title }} {% endif %}</title> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/main.css">
  </head>

  <body>
    <nav>
      <div class="links">
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
      </div>
    </nav>
    {% block content %}
    <div class="container">
      <div class="posts">
        {% for page in section.pages %}
          <section>
            <a class="header-link" href="{{ page.permalink }}">
              <h3 class="title">{{ page.title }}</h3>
            </a>
            <p>
              {{ page.content | safe | striptags | truncate }}
            </p>

            <div class="info">
              {% if page.date %}
                <span>{{ page.date | date(format="%d %B %Y") }}</span>
              {% endif %}
              {% if page.category %}
                <span class="divider"></span>
                <span>{{ page.category }}</span>
              {% endif %}
            </div>
          </section>
        {% endfor %}
      </div>
    </div>
    {% endblock content %}
    <footer>
      <span class="bar"></span>
      <a href="https://github.com/GraffixGames"><i class="fa fa-github"></i> github</a>
      <a href="https://twitter.com/Graffix_Games"><i class="fa fa-twitter"></i> twitter</a>
      <a href="https://ntgg.itch.io/"><i class="fa fa-gamepad"></i> itch.io</a>
      <a href="mailto:graffixgame@gmail.com"><i class="fa fa-envelope"></i> email</a>
      <p>website made using <a href="https://www.getzola.org/">zola</a>.</p>
    </footer>
  </body>
</html>